<html>
<body>

<p> Das hier sind Tips zur Datei Freigabe in Windows und anderen möglichen Problemen die beim Vlan Auftreten können</p>

<h2>Der Users Ordner ist in den Freigebenen Ordnern Sichtbar</h2>

<p>Explorer Öffnen und Ordner Optionen öffnen</p>
<img src="Screenshot_10.png">
<p>Unter Ansicht die Option "Freigabe-Assisten Verwenden" Ausschalten</p>
<img src="Screenshot_11.png">
<p>Im Laufwerk C Rechtsklick auf den Ordner Benutzer und Eigenschaften</p>
<img src="Screenshot_12.png">
<p>Reiter Freigabe, Erweitere Freigabe Anklicken, den Hacken bei Diesen Ordner Freigeben entfernen</p>
<img src="Screenshot_13.png">

<h2>Clienten können mich im Netzwerk nicht erreichen</h2>

<p>Eine einfache möglichkeit hierbei ist zu Überprüfen ob es ein Privates Netzwerk ist und das ggf umzustellen</p>
<p>Unter der Systemsteuerung in das Netzwerk Freigabe Center gehen und Prüfen ob bei der Verbindung Privates Netzwerk steht</p>
<img src="Screenshot_14.png">
<p>(WINDOWS TASTE + R ) Drücken und gpedit.msc ausführen</p>
<img src="Screenshot_15.png">
<p>Eigenschaften auf Nicht identifzierte Netzwerke öffnen, Netzwerk wie im Bild auf Privat stellen</p>
<img src="Screenshot_16.png">

</body>
</html>